.jumbotron{
	background-color: #87CEEB;
	color: black;
	margin-top: 40px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #87CEEB;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;

}

.btn-reserva{
	width: 100%;
	background-color: #87CEEB;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px; 
}

/* .shr{ */
	/* border: 2px; */
/* } */